<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{../static/layuimini/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{../static/layuimini/css/public.css}" media="all">
    <script th:src="@{../static/layuimini/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
        <legend>搜索信息</legend>
        <div style="margin: 10px 10px 10px 10px" id="btn">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">图书编号</label>
                        <div class="layui-input-inline">
                            <!--注意此处input标签里的id-->
                            <input class="layui-input" name="isbn" id="isbn" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">图书名称</label>
                        <div class="layui-input-inline">
                            <!--注意此处input标签里的id-->
                            <input class="layui-input" name="bookName" id="bookName" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">图书分类</label>
                        <div class="layui-input-inline">
                            <select id="typeId" name="typeId" >
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <!--注意此处button标签里的type属性-->
                        <button type="button" class="layui-btn"  lay-submit data-type="reload" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                    </div>
                </div>
            </form>
        </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <!--表单，查询出的数据在这里显示-->
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="update">修改</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            <a class="layui-btn layui-btn-xs layui-btn-warm data-count-add" lay-event="putIn">入库</a>
        </script>

    </div>
</div>
<script th:src="@{../static/layuimini/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function (){
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //动态获取图书类型的数据，即下拉菜单，跳出图书类型
        $.get("bookTypeData",{},function (data) {
            let list=data;
            var select=document.getElementById("typeId");
            if(list!=null|| list.size()>0){
                for(var obj in list){
                    var option=document.createElement("option");
                    option.setAttribute("value",list[obj].id);
                    option.innerText=list[obj].bookType;
                    select.appendChild(option);
                }
            }
            form.render('select');
        },"json")

        table.render({
            elem: '#currentTableId',
            url: 'bookAll',//查询类型数据
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", width: 50,align: "center"},
                {field: 'isbn', width: 100, title: '图书编号', sort: true,align: "center"},
                {field: 'bookName', width: 100, title: '图书名称',align: "center"},
                {field: 'author', width: 80, title: '作者',align: "center"},
                {field: 'typeId', width: 100, title: '图书类型',sort:true,align: "center",templet:function (d){
                        return d.bookType.bookType;}
                },
                {field: 'publish', width: 150, title: '出版社', sort: true,align: "center"},
                {field: 'price', width: 80, title: '价格',sort: true,align: "center"},
                {field: 'amount', width: 100,title: '库存数量', sort: true,align: "center"},
                {field: 'shelfTime', width: 200, title: '上架时间', sort: true,align: "center"},
                {field: 'updateTime', width: 200, title: '更新时间', sort: true,align: "center"},
                {title: '操作', minWidth: 200, toolbar: '#currentTableBar',align: "center"}
            ] ],
            limits: [5, 10, 15, 20, 25, 50],
            limit: 15,  <!--默认显示15条-->
            page: true,
            skin: 'line',
            id: 'testReload'
        });

        var active = {
            reload: function(){
                let bookName = $('#bookName').val();
                let isbn = $('#isbn').val();
                let typeId = $('#typeId').val();
                console.log(bookName)
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        bookName: bookName,
                        isbn: isbn,
                        typeId: typeId
                    }
                }, 'data');
            }
        };

        $('#btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        /**
         * tool操作栏监听事件
         */
        table.on('tool(currentTableFilter)', function (obj) {
            var data=obj.data;
            if (obj.event === 'update') {  // 监听修改操作
                var index = layer.open({
                    title: '修改图书信息',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/bookUpdate?id='+data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                layer.confirm('确定是否删除', function (index) {
                    //调用删除功能
                    deleteBookByIds(data.id,index);
                    layer.close(index);
                });
            } else if(obj.event === 'putIn'){ //监听入库操作
                var index = layer.open({
                    title: '图书入库',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/bookPutIn?id='+data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        /**
         * 获取选中记录的id信息
         */
        function getCheckId(data){
            var arr=new Array();
            for(var i=0;i<data.length;i++){
                arr.push(data[i].id);
            }
            //拼接id,变成一个字符串
            return arr.join(",");
        };


        /**
         * 提交删除功能
         */
        function deleteBookByIds(ids ,index){
            //向后台发送请求
            $.ajax({
                url: "deleteBook",
                type: "POST",
                data: {ids: ids},
                success: function (result) {
                    if (result.code == 0) {//如果成功
                        layer.msg('删除成功', {
                            icon: 6,
                            time: 500
                        }, function () {
                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        layer.msg("删除失败");
                    }
                }
            })
        };

        /**
         * toolbar栏监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加图书',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/bookAdd',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {
                /*
                  1、提示内容，必须删除大于0条
                  2、获取要删除记录的id信息
                  3、提交删除功能 ajax
                */
                //获取选中的记录信息
                var checkStatus=table.checkStatus(obj.config.id);
                var data=checkStatus.data;
                if(data.length==0){//如果没有选中信息
                    layer.msg("请选择要删除的记录信息");
                }else{
                    //获取记录信息的id集合,拼接的ids
                    var ids=getCheckId(data);
                    layer.confirm('确定是否删除', function (index) {
                        //调用删除功能
                        deleteBookByIds(ids,index);
                        layer.close(index);
                    });
                }
            }
        });

    });
</script>
</body>
</html>