<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{../static/layuimini/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{../static/layuimini/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" th:value="${user.id}">
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" readonly="readonly" th:value="${user.username}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realName" readonly="readonly" th:value="${user.realName}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">当前用户余额</label>
            <div class="layui-input-block">
                <input type="number" name="balance" readonly="readonly" th:value="${user.balance}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">用户剩余借阅点</label>
            <div class="layui-input-block">
                <input type="number" name="borrowPoint" readonly="readonly" th:value="${user.borrowPoint}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">充值类型</label>
            <div class="layui-input-block">
                <select name="rechargeType" id="rechargeType" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="0">充值余额</option>
                    <option value="1">充值借阅点(1rmb等于1借阅点)</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">充值数额</label>
            <div class="layui-input-block">
                <input type="number" name="rechargeAmount" id="rechargeAmount" lay-verify="required" autocomplete="off" placeholder="请输入充值的金额" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认充值</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{../static/layuimini/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var datas = data.field;//form单中的数据信息
            //向后台发送数据提交添加
            $.ajax({
                // url: "userRechargeSubmit?id="+datas.id+"&rechargeType="+datas.rechargeType+"&rechargeAmount="+datas.rechargeAmount,
                url: "userRechargeSubmit",
                type: "POST",
                data: {
                    id: datas.id,
                    rechargeType: datas.rechargeType,
                    rechargeAmount: datas.rechargeAmount
                },
                success: function (result) {
                    if (result.code == 0) {//如果成功
                        layer.msg('充值成功', {
                            icon: 6,
                            time: 500
                        }, function () {
                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>