<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.mapper.DonateRecordMapper">

    <resultMap id="DonateRecordType" type="com.lwx.vo.DonateRecordVO">
        <id property="id" column="id"></id>
        <result property="bookId" column="book_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="donateAmount" column="donate_amount"></result>
        <result property="repayPoint" column="repay_point"></result>
        <result property="donateTime" column="donate_time"></result>

        <association property="book" javaType="com.lwx.entity.Book">
            <id property="id" column="id"></id>
        </association>
        <association property="user" javaType="com.lwx.entity.User">
            <id property="id" column="id"></id>
        </association>
    </resultMap>

    <select id="findAllDonateRecordsInfo" resultMap="DonateRecordType">
        select *
        from tbl_donate_record d
        left join tbl_book b on b.id = d.book_id
        left join tbl_user u on u.id = d.user_id
        <!--带条件的高级查询-->
        <where>
            <if test="book!=null">
                <!--根据图书名称查询-->
                <if test="book.bookName!=null and book.bookName!=''">
                    and b.book_name like '%${book.bookName}%'
                </if>
            </if>
            <!--根据用户名查询-->
            <if test="user!=null">
                <if test="user.username!=null and user.username!=''">
                    and u.username like '%${user.username}%'
                </if>
                <if test="user.realName!=null and user.realName!=''">
                    and u.real_name like '%${user.realName}%'
                </if>
            </if>
        </where>
        order by d.id desc
    </select>

    <!--查询捐赠历史-->
    <select id="findDonateRecordsByUserId" resultMap="DonateRecordType">
        SELECT *
        from tbl_donate_record d
        left join tbl_book b on b.id = d.book_id
        left join tbl_user u on u.id = d.user_id
        <where>
            <if test="userId!=null">and u.id=#{userId}</if>
        </where>
        order by d.id desc
    </select>


</mapper>
